# requirements.txt (Airflow 2.9.x, Python 3.11)
pandas==2.2.2
requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.2.2
pyspark==3.5.1
psycopg2-binary==2.9.9

pyspark==3.5.1
pyarrow>=14,<17
pandas>=2.2
pendulum>=3.0.0
pyspark
pytest
understatapi
ScraperFC
fastapi

